.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #fff;
  transform: translateX(-300px);
  transition: transform .3s;
  padding-top: 50px;
  text-align: center;
  z-index: 2;

  &.open {
    transform: translateX(0);
  }
}

.nav__link {
  font-size: 18px;
  line-height: 1;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: color .3s, background-color .3s;

  &:hover,
  &.active {
    background-color: #333;
    color: #fff;
  }
}
