.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.count {
  white-space: nowrap;
  margin: 5px 0 0 30px;
}
