.btn {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  transition: opacity .3s, left .3s;
  z-index: 100;

  &:hover {
    opacity: .7;
  }

  &.open {
    left: 340px;
  }
}
